/*------------------------------------*\
    
    CSS Custom Properties (aka CSS Variables)
 
    Custom properties are entities defined by CSS authors that contain specific values to be reused throughout a document
    Example usage: brand colors, common margins, drop-shadows, border styles, and more!
    
    Visit the CSS Custom Properties guru card for more info: https://app.getguru.com/card/ceE54p4i/CSS-Custom-Properties-AKA-CSS-Variables 

\*------------------------------------*/


/**
 * Global Variables (Optional - Remove anything that's not being used)
 */

 :root {
    --section-margins: 60px;
    
    --font-primary: Doyle, Georgia, sans-serif;
    --font-secondary: 'IBM Plex Sans',sans-serif;

    --color-blue: #0C0F33;
    --color-purple: #524FB8;
    --color-light-blue: #3B9ED7;
    --color-lighter-blue: #d9edf7;
    --color-green: #33C252;
    --color-yellow: #FAC942;
    --color-orange: #FE5800;
    --color-pink: #FF2E47;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-gray: #333;
    --color-gray: #efebeb;
    --color-border: #ccc;
    --color-border-2: #ececec;
    --color-border-3: #e5e3e1;
}

@media (min-width: 768px) {
    :root {
        --section-margins: 60px; /* TODO: Update margins to match prototypes. */
    }
}

@media (min-width: 1025px) {
    :root {
        --section-margins: 60px; /* TODO: Update margins to match prototypes. */
    }
}